* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
    min-width: 1200px;
	min-height: 800px;
	background-color: rgb(27,34,36);
	color: rgb(178,178,178);
	font-family:'Montserrat', san-serif ;
	font-size: 20px;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1{
    font-weight: 200;
	color: rgb(16,112,93);
	margin: 10% 0;
	text-align: center;
}
p{ 
	font-weight: 400;
	text-align: center;
}
.download_link{
	color:rgb(16,112,93);
	text-decoration: none;
}
